body {
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    color: whitesmoke;
}
h1, p {
    text-align: center;
}
a {
    color: #ffad15;
    display: inline-block;
    margin-top: 2em;
    text-decoration: none;
    display: none;
}

input {
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.6em 0.6em;
    width: 35%;
    display: block;
    margin: 0 auto;
}

video {
    width: 802px;
    height: 430px;
    display: block;
    margin: 0 auto;
}